<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>

    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :group_id, value: current_group.id %>

  <% if @members && @members.length > 0 %>
    <div class="field">
      <%= form.label :assigned_to %>
      <%= form.select :assigned_to, options_for_select(@members) %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field field--datetime">
    <%= form.label :due_at %>
    <div class="field--datetime__inner">
      <%= form.date_select :due_at %>
    </div>
  </div>

  <div class="field">
    <%= form.label :completed_by %>
    <%= form.select :completed_by, options_for_select(@members) %>
  </div>

  <%= form.label :completed, class: "field field--checkbox" do %>
    <%= form.check_box :completed %>
    Task completed
  <% end %>

  <%= form.label :restricted, class: "field field--checkbox" do %>
    <%= form.check_box :restricted %>
    Private task
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
