<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @task.creator_id %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @task.assigned_to %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Due at:</strong>
  <%= @task.due_at %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @task.completed_at %>
</p>

<p>
  <strong>Completed by:</strong>
  <%= @task.completed_by %>
</p>

<p>
  <strong>Restricted:</strong>
  <%= @task.restricted %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
