<%= render "components/page-title",
    title: "Groups", 
    actions: [{
      label: "New Group",
      href: new_group_path
    }]
  %>

  <% if current_user.admin? %>
    <p>As an administrator you can view all the groups.</p>
  <% end %>

  <% if @groups.length > 0 %>
    <div class="box-with-border">
      <% @groups.each do |group| %>
        <div class="list-item">
          <span><%= group.title %></span>

          <% if group.admin?(current_user) %>
            <%= link_to 'Members', group_path(group) %>
            <%= link_to 'Edit', edit_group_path(group) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= render "components/page-empty",
      text: "You do not belong to any groups yet."
    %>
  <% end %>


  
