<% if @groups.length > 0 %>
  <h3>[<%= @group.title %>]</h3>
<% end %>
<h1>Events</h1>

<div class="box-with-border">
  <% @events.each do |e| %>
    <div class="list-item">
      <a href="/events/<%= e.id %>" class="list-item">
        <%= e.title %> (<%= e.start_time.strftime("%d %B %Y") %>)
      </a>
    </div>
  <% end %>
</div>

<%= link_to 'New Event', new_event_path %>
