<h3>Event</h3>
<h1><%= @event.title %></h1>

<p><%= @event.description %></p>

<p>
  <strong>Organiser:</strong>
  <%= @event.user.full_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.start_time.strftime("%d %B %Y") %>
</p>

<% if @event.all_day %>
  <div class="tag">All day event</div>
<% else %>
  <p>
    <strong>Time:</strong>
    <%= @event.start_time.strftime("%H:%M") %> - 
    <%= @event.end_time.strftime("%H:%M") %> 
  </p>
<% end %>

<% if @event.restricted %><p>
  <p>This is a private event.</p>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
