<h1>Hi, <%= current_user.first_name %>!</h1>
<% if @groups.length > 0 %>
  <h3>[<%= @group.title %>]</h3>
<% else %>
  You do not belong to any groups yet. <a href="/groups/new">Create a group>/a>
<% end %>

<div class="section section--dashboard">
  <a href="/events"><h4 class="section__title">Events</h4></a>
  <% if @events.present? && @events.length > 0 %>
    <% @events.each do |e| %>
      <a href="/events/<%= e.id %>" class="list-item">
        <%= e.title %> (<%= e.start_time.strftime("%d %B %Y") %>)
      </a>
    <% end %>
  <% else %>
    This group does not have any events
  <% end %>
  <%= link_to "Create New Event", new_event_path %>
</div>

<div class="section section--dashboard">
  <a href="/tasks"><h4 class="section__title">Tasks</h4></a>
  <% if @tasks.present? && @tasks.length > 0 %>
    <% @tasks.each do |t| %>
      <%= react_component("TaskItem", {
        id: t.id,
        title: t.title,
        due: t.due_at.strftime("%d %B %Y"),
        completed: t.completed || false
      }) %>
    <% end %>
  <% else %>
    This group does not have any tasks
  <% end %>
  <%= link_to "Create New Task", new_task_path %>
</div>

<div class="box-with-border">
  <p>
    <h5>Birthdays 🎈</h5>
    No upcoming birthdays
  </p>
</div>

<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>