<h1>Hi, <%= current_user.first_name %>!</h1>
<% if @groups.length > 0 %>
  <h3>[<%= @group.title %>]</h3>
<% end %>

<div class="section">
  <h4 class="section__title">Events</h4>
  <% if @events.present? && @events.length > 0 %>
    <% @events.each do |e| %>
      <p><%= e.title %> (<%= e.start_time.strftime("%d %B %Y") %>)</p>
    <% end %>
  <% else %>
    This group does not have any events
  <% end %>
  <%= link_to "Create New Event", new_event_path %>
</div>

<div class="section">
  <h4 class="section__title">Tasks</h4>
  <% if @tasks.present? && @tasks.length > 0 %>
    <% @tasks.each do |e| %>
      <p><%= e.title %> (<%= e.due_at.strftime("%d %B %Y") %>)</p>
    <% end %>
  <% else %>
    This group does not have any tasks
  <% end %>
  <%= link_to "Create New Task", new_task_path %>
</div>

<div class="box-with-border">
  <p>
    <b>Birthdays 🎈</b><br/>
    No upcoming birthdays
  </p>
</div>

<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>