<div class="color-card">
  <div class="color-card__row <%= colors[:dark][:variable] %> dark">
    <span><%= colors[:dark][:name] %></span>
    <span><%= colors[:dark][:hex] %></span>
  </div>
  <div class="color-card__row <%= colors[:primary][:variable] %> primary">
    <span><%= colors[:primary][:name] %></span>
    <span><%= colors[:primary][:hex] %></span>
  </div>
  <div class="color-card__row <%= colors[:light][:variable] %> light">
    <span><%= colors[:light][:name] %></span>
    <span></span><%= colors[:light][:hex] %>
  </div>
</div>