<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Homebase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width; initial-scale=1.0;">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if controller_name != "sessions" && controller_name != "registrations" %>
    <%= react_component("TopNav") %>
  <% end %>

    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
    
    <%= render layout: "containers/container", locals: { mod: "md" } do %>
    <%= yield %>
    <% end %>
    
    <% if controller_name != "sessions" && controller_name != "registrations" %>
      <%= react_component("BottomNav") %>
    <% end %>
  </body>
</html>